#team {
  text-align: center;
  width: 1230px;
  height: 100%;
  margin: 0 auto; }
  #team:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background: url(../assets/bg.png); }
  #team h2 {
    font-size: 60px;
    font-weight: 600;
    color: #452e76;
    margin-top: 60px;
    margin-bottom: 100px; }
  #team .members {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 80px;
    row-gap: 30px; }
    #team .members li.member {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 180px;
      padding: 15px 0px;
      transform: scale(1);
      transition: transform 0.3s ease-in-out; }
      #team .members li.member:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out; }
      #team .members li.member img {
        border-radius: 50%;
        width: 180px;
        height: 180px; }
      #team .members li.member .name {
        margin-top: 30px;
        margin-bottom: 21px;
        color: #452e76;
        font-weight: 400;
        font-size: 20px; }
      #team .members li.member .details {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 14px;
        font-weight: 300; }
        #team .members li.member .details .role {
          color: #48c3dc;
          margin-bottom: 15px; }
        #team .members li.member .details .location {
          font-weight: 100;
          color: #808080; }
      #team .members li.member a {
        display: block;
        position: relative;
        left: 75%;
        top: 15%; }
        #team .members li.member a .email {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: #452e76;
          z-index: 2; }
          #team .members li.member a .email:hover {
            filter: brightness(1.3); }
          #team .members li.member a .email img {
            width: 20px;
            height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans, sans-serif; }

.slider {
  background-color: white !important;
  border: 1px solid red; }
