#team {
  text-align: center;
  width: 1230px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 40px; }
  #team::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: -1;
    background: url(../assets/bg.png); }
  #team h2 {
    font-size: 60px;
    font-weight: 600;
    color: #452e76;
    margin-top: 40px;
    margin-bottom: 60px; }
  #team .members {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 80px;
    row-gap: 30px; }
    #team .members .member {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 180px;
      padding: 15px 0px;
      transform: scale(1);
      transition: transform 0.3s ease-in-out; }
      #team .members .member:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out; }
      #team .members .member img {
        border-radius: 50%;
        width: 180px;
        height: 180px; }
      #team .members .member .name {
        margin-top: 30px;
        margin-bottom: 21px;
        color: #452e76;
        font-weight: 400;
        font-size: 20px; }
      #team .members .member .details {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 14px;
        font-weight: 300; }
        #team .members .member .details .role {
          color: #48c3dc;
          margin-bottom: 15px; }
        #team .members .member .details .location {
          font-weight: 100;
          color: #808080; }
      #team .members .member a {
        display: block;
        position: relative;
        left: 75%;
        top: 15%; }
        #team .members .member a .email {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: #452e76;
          z-index: 2; }
          #team .members .member a .email:hover {
            filter: brightness(1.3); }
          #team .members .member a .email img {
            width: 20px;
            height: 100%; }

.slider {
  background-color: white !important;
  height: 960px;
  width: 100%;
  transition: height 1s ease-in-out; }

.hidden {
  height: 0px; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-button-next {
  right: 50px !important;
  font-weight: 900;
  color: white !important;
  transform: scale(1.2); }

.swiper-button-prev {
  left: 50px !important;
  font-weight: 900;
  color: white !important;
  transform: scale(1.2); }

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  background: url("../assets/slider_bg.jpg"); }
  .swiper-slide h2 {
    font-size: 90px;
    font-weight: 600;
    color: white;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.45)); }
  .swiper-slide span {
    font-size: 50px;
    font-weight: 300;
    color: white;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.45)); }
  .swiper-slide::after {
    content: "";
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../assets/slide_border.png");
    background-repeat: no-repeat;
    height: 375px;
    width: 1100px; }

.swiper-button-close {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 4;
  top: 47px;
  right: 50px;
  display: block;
  background: url("../assets/close.svg");
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  padding: 40px; }
  .swiper-button-close:hover {
    cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: OpenSans, sans-serif; }
